<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
<Fragment>
    <!-- Additional install files for component dehread -->
    <Media Id="6" Cabinet="dehread.cab" EmbedCab="yes" />
    <DirectoryRef Id="DOOMSDAYDIR_BIN">
    <Component Id="DEHREAD_FILE_LIBDEHREADDLL" Guid="D1727F6D-1930-4346-8B2B-148A3DC75D88">
        <File Id="DEHREAD_FILE_LIBDEHREADDLL" DiskId="6" Source="$(var.ProductsDir)\bin\dpdehread.dll" KeyPath="yes" />
    </Component>
    </DirectoryRef>

    <!-- Place all components for module dehread to the following group -->
    <ComponentGroup Id="dehread">
        <ComponentRef Id="DEHREAD_FILE_LIBDEHREADDLL" />
    </ComponentGroup>
</Fragment>
</Wix>
