<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
<Fragment>
    <!-- Additional install files for component winmm -->
    <Media Id="10" Cabinet="winmm.cab" EmbedCab="yes" />
    <DirectoryRef Id="DOOMSDAYDIR_BIN">
    <Component Id="WINMM_FILE_LIBWINMMDLL" Guid="674EB87C-8616-4069-8C56-01D34EE72D0C">
        <File Id="WINMM_FILE_LIBWINMMDLL" DiskId="10" Source="SourceDir\bin\dswinmm.dll" KeyPath="yes" />
    </Component>
    </DirectoryRef>

    <!-- Place all components for module winmm to the following group -->
    <ComponentGroup Id="winmm">
        <ComponentRef Id="WINMM_FILE_LIBWINMMDLL" />
    </ComponentGroup>

    <!-- Features for module winmm -->
    <Feature Id="winmm" Level="1" Absent="allow" InstallDefault="followParent"
      Title="Windows Multimedia Plugin"
      Description="Audio plugin for MIDI and CDAudio playback using the Windows Multimedia API.">
        <ComponentGroupRef Id="winmm" />
    </Feature>
</Fragment>
</Wix>
